@import 'https://fonts.googleapis.com/css?family=Roboto:100,300';

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        color: #808285;
        line-height: 26px;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    input,
    textarea,
    select,
    button {
        outline: none;
    }

    input::placeholder,
    textarea::placeholder,
    ::placeholder {
    color: #808285 !important;
    }

    a {
        color: #fff;
      }
      
      a,
      a:hover,
      a.active,
      a:active,
      a:visited,
      a:focus {
        text-decoration: none;
        cursor: pointer;
      }
      
      h1, h2 {
        line-height: 36px;
      }
      
      .content {
        margin: 0;
      }
      
      .text-right {
        text-align: right;
      }
      
      .text-left {
        text-align: left;
      }
      
      .text-center {
        text-align: center;
      }
      
      .float-right {
        float: right;
      }
      
      .float-left {
        float: left;
      }
      .section, footer {
        float: left;
        width: 100%;
      }
      @media (min-width: 1281px) {
        .container {
          max-width: 1251px;
          padding: 0 15px;
          margin: 0 auto;
          width: 100%;
        }
      }
      @media (min-width: 1025px) and (max-width: 1280px) {
        .container {
          max-width: 995px;
          padding: 0 15px;
          margin: 0 auto;
          width: 100%;
        }
      }
      @media (max-width: 1024px) {
        .container {
          max-width: 100%;
          padding: 0 15px;
          margin: 0 auto;
          width: 100%;
        }
      }
      @media (max-width: 479px) {
        .container {
          max-width: 100%;
          padding: 0 10px;
          margin: 0 auto;
          width: 100%;
        }
      }
      /******** header ********/
      header {
        padding: 12px 0 0;
        width: 100%;
        z-index: 9999;
      }
      header .wowsome_logo{
          text-align: right;
      }
      header .wowsome_logo img {
        width: 130px;
      }      
      header .ford_logo img {
        width: 200px;
      }
      header .ford_logo{
          text-align: center;
      }
      /******* main content ********/
      .video video {
          max-width: 100%;
      }
      .video .video-block{
        position: relative;
      }
      .video .video-in {
        position: relative;
        overflow: hidden;
        display: grid;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      .video .play-btn {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        cursor: pointer;
      }
      .play-btn.video-play {
          display: none;
      }
      .video .play-btn img{
          width: 55px;
      }
      .video .play-btn-in {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
      .primary_cta {
        margin: 10px 0 42px;
      }
      .primary-btn {
        text-align: center;
      }
      .primary-btn .primary-btn-in {
        display: inline-block;
        margin: 30px auto -10px;
        width: 32.5%;
        vertical-align: top;
      }
      .primary-btn .primary-btn-in .btn {
        display: inline-block;
        max-width: 150px;
      }
      .primary-btn .primary-btn-in .btn img {
        vertical-align: middle;
      }
      @media (min-width: 768px) {
        .primary-btn .primary-btn-in {
          width: 19.6%;
        }
      }
      
      .secondary-btn .secondary-btn-in {
        display: inline-block;
        margin: 0px auto -5px;
        width: 49.3%;
        vertical-align: top;
      }
      .secondary-btn-in .btn {
        display: inline-block;
        max-width: 250px;
        margin: 3px 0;
      }
      .secondary-btn-in:nth-child(odd) .btn {
        margin-right: 3px;
      }
      .secondary-btn-in:nth-child(odd) {
        text-align: right;
      }
      .secondary-btn-in:nth-child(even) .btn {
        margin-left: 3px;
      }
      .secondary-btn-in .btn img{        
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
      }
      .secondary_cta {
        margin-bottom: 40px;
      }
      @media (min-width: 992px) {
        .secondary-btn .secondary-btn-in {
          width: 33.3333%;
          vertical-align: top;
          text-align: center;
          float: left;
          display: initial;
        }
        .secondary-btn-in:nth-child(odd) .btn {
          margin-right: 0px;
        }
        .secondary-btn-in:nth-child(odd) {
          text-align: center;
        }
        .secondary-btn-in:nth-child(even) .btn {
          margin-left: 0;
        }
      }

      /**** ads *****/
      .ads {
        margin-bottom: 40px;
      }
      .ads img{ 
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
      }
      .ads .ad_btm {
        width: 100%;
        overflow: hidden;
        display: flex;
      }
      .ads .ad_btm1 {
        margin-right: 10px;
      }

      footer{
        background: #D41E03;
        padding: 0;
        text-align: center;
        position: relative;
        overflow: hidden;
      }
      footer a{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 12px;
      }
      footer img{
        vertical-align: middle;
        max-width: 90px;
      }